/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.menu{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}   
.menu-item{
    display: block;
    
}
.logo{
    display:flex;
    justify-content: space-between;
    border-style:2px solid black;
    /*background: #FFFFAA; /*黃色*/
    background: #DEFFAC; /*綠色*/
    /*background: #DAB1D5; /*紫色*/
    /*background: #FFCBB3; /*橘色*/
    /*background: #D9B3B3; /*咖啡色*/
    /*ackground: #FFAAD5; /*粉紅色*/

}
.logo-item{
    display:block;
}
.imglogo{
    width: 600px;
    height: 100px;
}
.logotitle{
    font-size: 38px;
    padding-top: 35px;
    font-family:DFKai-sb;
    font-weight: bold;
}
.body{
    margin: 0 auto;
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body-item{
    display: block;
    height: 200px;
    background: #FFCBB3; /*橘色*/
    font-size: 24px;
    font-family:DFKai-sb;
}
.signin{
    width: 300px;
    font-size: 24px;
    font-family:DFKai-sb;
}
.footer{
    margin: 0 auto;
    background: #DEFFAC; /*綠色*/
    font-size: 20px;
    font-family:DFKai-sb;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
}